.cookieconsent-dialog-fieldset-layout {
	margin-top: 14px;
}

.cookie-consent-simple-dialog .oo-ui-processDialog-actions-other > span {
	width: 100%;
}

.cookie-consent-simple-dialog .oo-ui-processDialog-actions-other a {
	width: 100%;
}

.cookie-consent-simple-dialog .oo-ui-processDialog-actions-other > span:nth-child(2) {
	border-top: 1px solid #c8ccd1 !important;
}
